html {
  font-family: 'Libra Franklin', sans-serif;
  font-size: x-large;
}

body {
  margin: 0;
}

nav {
  background-color: white;
  display: flex;
  justify-content: space-around;
  padding: 0.25em;
  font-family: 'josefin slab', serif;
  font-size: larger;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

a {
  color: black;
  text-decoration: none;
}

#home {
  background-image: url("../img/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  box-sizing: border-box;
  padding-top: 4rem;
}

.logo {
  width: 9ch;
}

.title, .logo {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2em;
}

.tagline {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1em;
}

